.body-button {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    word-wrap: break-word;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    color: blueviolet !important;
    border-color: grey !important;
}

.body-button:hover {
    color: blue !important;
    text-decoration: none !important;
    background-color: lightblue !important;
    border-color: blueviolet !important;
}

p {
    color: black !important;
}

ul {
    color: black !important;
}

ol {
    color: black !important;
}

kbd {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 0.9rem !important;
    background-color: lightblue !important;
    padding: 7px !important;
}

body {
    background-image: url("back.png");
}

.card {
    background-color: white;
    padding: 25px;
    transition: 0.4s;
    margin-bottom: 20px;
    line-height: 1.6;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
}

.main-content {
    font-size: 1rem !important;
}

li {
    color: black !important;
    margin: 0 0 5px 0;
}

